<section class="py-5 text-center bg-primary text-white rounded">
    <div class="container">
        <h1 class="display-4">Trouvez votre prochain job de développeur</h1>
        <p class="lead">Postulez à des offres tech, ou trouvez des freelances qualifiés.</p>
        <a href="#" class="btn btn-light btn-lg mt-3">Voir les offres</a>
    </div>
</section>
